// This file generated automatically by gRPC gateway generator
// Generated at: {{Time}}

package main

import (
    superConf "github.com/espitman/go-super-conf"
    _ "github.com/espitman/gws-chat/grpc-gateway/docs"
	"github.com/gofiber/fiber/v2"
	"log"
)

// @title           gRPC Gateway
// @version         1.0
// @description     This is gRPC Gateway
// @contact.name   API Support
// @contact.email  s.heidar@jabama.com
// @BasePath  /
// @securityDefinitions.apikey BearerAuth
// @in header
// @name Authorization

func main() {
	app := fiber.New()
    {{- range .Handlers }}
	{{.ClientName}} := new{{.ClientName|Upper}}()
	{{.HandlerName}} := new{{.HandlerName|Upper}}({{.ClientName}})
    {{- end }}
	router := newRouter(
	    {{- range .Handlers }}
		{{.HandlerName}},
		{{- end }}
	)
	router.serve(app)
	PORT := superConf.Get("app.port")
    log.Fatal(app.Listen(":" + PORT))
}
